<html>

<head>
    <link href="css/animation/fw.css" rel="stylesheet" />
    <link href="css/animation/slider.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div id="ha_anim_slider_container">
        <div id="ha-anim-slider-leftnav"><i class="fa fa-angle-left"></i></div>
        <div id="ha-anim-slider-pages">
        </div>
        <div id="ha-anim-slider-rightnav"><i class="fa fa-angle-right"></i></div>
        <div class="clear-div"></div>
    </div>
    <div id="animationBody">
        <div id="ha-anim-hero-speech-container">
            <div id="ha-anim-hero-speech">
                <span id="ha-anim-speech-typed"></span>
            </div>
        </div>

        <div id="ha-anim-heroine-speech-container">
            <div id="ha-anim-heroine-speech">
                <span id="ha-anim-heroine-speech-typed"></span>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/TweenMax.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/typed.min.js"></script>
    <script type="text/javascript" src="js/fw.js"></script>
    <script type="text/javascript" src="js/animation/L1.js"></script>
</body>

</html>